button {
  width: 100%;
  height: 100%;
  font-size: 25px;
  font-weight: lighter;
  border: none;
}

#btnX {
  background: #3f87a6;
  color: black;
}

#btnO {
  background: #F69D3C;
  color: white;
}

@media only screen and (max-width: 480px) {
  button {
    width: 100%;
  }
}
